<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>cookieconsentbanner</name>
    <displayName><![CDATA[Cookie Consent Banner]]></displayName>
    <version><![CDATA[0.0.1]]></version>
    <description><![CDATA[Configure and deploy your Cookie Consent Banner in seconds!]]></description>
    <author><![CDATA[Maxime Morlet]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>